@charset "UTF-8";

/* 자유게시판 (content.jsp)에 사용한 css */



#title {
  border-radius: 20px;
  text-align: center;
  color: #000000; 
/*   background-color: #F4FFFF;  */
  font-size: 30px;
  width: 400px;
  height:60px;
  padding:5px;
  margin:30px 450px auto;
  position: relative;
  font-weight: bold;
}
#category-links {
    display: flex;
    justify-content: center;
}

#category-links .category-link {
    margin: 0 40px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.7s ease; /* 색상 변화에 대한 transition 추가 */
    padding: 10px 50px;
    border-radius: 30px;
}

#category-links .category-link:hover {
    color: white; /* 마우스를 올렸을 때 글자색 변경 */
    background-color:#c0c0c0 ; /* 마우스를 올렸을 때 배경색 변경 */
}
.btnn{
   background-color: transparent;
   border: 0.5px solid #000000;
   color: #000000; 
   border-radius: 5px;
   transition: all 0.3s ease 0s;
   cursor: pointer; 
}

/* #category { */
/*    border-radius: 30px 0 0 30px; */
/*    background-color:rgb(255, 253, 234);  */
/*    width: 150px; */
/*      height:30px; */
/*      margin-left:50px; */
/* } */

#b1 {
   border-radius:0 20px 20px 0;
   background-color:rgb(255, 253, 234); 
}

/* 카테고리 바 */
#cate_r{
   position:relative;
   top:-60px; 
   left: 700px;
}

/* 카테고리 텍스트 스타일 */
.category-text {
   font-size: 18px;
   margin: 0 5px; /* 각 카테고리 사이의 간격 조절 */
   color: #555; /* 카테고리 텍스트 색상 */
}
/* 게시글 작성(register.jsp) css */

#r1{
   border-radius: 10px;
   width: 1000px;
   height:730px;
   position: sticky;
   display:inline-block;
   justify-content: center;
   margin-left: 250px;
   background-color: rgb(248, 248, 248);
   box-shadow: 0px 0px 10px #808080;
}

.page-header{
   font-weight: bold;
   font-size: 20px;
   text-align: center;
}

/* 카테고리 바 */
#cate_r{
   position:relative;
     top:-60px; 
   left: 700px;
}


/* 게시글 1개조회(get.jsp)css */
#g1{
   border-radius: 10px;
   width: 1000px;
   height:780px;
   position: sticky;
   display:inline-block;
   justify-content: center;
   margin-left: 250px;
   background-color: rgb(248, 248, 248);
   box-shadow: 0px 0px 10px #808080;
}
.label {
   display:inline-block;
   text-align:center;
   width:80px;
   font-weight:bold;
   font-size: 18px;
}
/* 게시물 수정 css */

#m1{
   border-radius: 10px;
   width: 1000px;
   height:730px;
   position: sticky;
   display:inline-block;
   justify-content: center;
   margin-left: 250px;
   background-color: rgb(248, 248, 248);
   box-shadow: 0px 0px 10px #808080;
}
